.chat {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 5rem;
  min-height: 0;
}

#msginput {
  align-self: flex-start;
}

.history {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
}

.msgself {
  align-self: flex-end;
}

.msgother {
  align-self: flex-start;
}
