@font-face {
    font-family: 'biotifLight';
    src:
    url('../vendors/biotif/Biotif-Light.ttf');
}

body{
    font-family: 'biotifLight',sans-serif !important;
}
.navbar {
    background-color: #f9f7f7;
    height: 80px;
    border-bottom: 1px solid black;
}
 * {
     outline: none !important;
 }
.mahp100 {
    max-height: 100%;
}

.grow {
    flex-grow: 1;
}

.content {
    overflow-y: auto;
}

.row {
    margin: 0 !important;
}

#profile {
    font-weight: bold;
    color: black !important;
    margin-left: 20px;
}

footer{
    background-color: #f9f7f7;
    border-top: 1px solid black;
    color: black;
}

button {
    background:#ffffff;
    border: 0;
    padding: .5em;
}
button:active, button:focus {
    outline: none;
    border: 0;
}
button:hover {
    background: #f9f7f7;
}