.regField {
    margin: 10px;
}

.form {
    align-self: center;
    padding-bottom: 20px;
}

#toLogin, #toReg{
    text-decoration: underline;
}

#toLogin:hover, #toReg:hover{
    color: #c28899;
    cursor: pointer;
}

#register {
    background-color: #292929;
    color: #f9f7f7;
}

.errorMessage {
    font-style: italic;
    color: #c28899;
    margin-bottom: 10px;
}