<div class="container">
    <div class="row">
        <div class="badgesMainInfo col">
            <h1>What Are Badges ?</h1>
            <p>with badges, users are shown more often to other users. badges are
                collected automatically when a certain goal is reached. </p>
            <hr>
            <p>u can always check the badges page to see which badges u can earn</p>
        </div>

        <div class="badgeWelcome col">
            <span class="username"></span>
            <p>Hover over badges to get more information !</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row1">

    <div class="allBadges">
        <div class="badge badge1">
            <p class="notEarned" id="badge1">not earned</p>
            <i class="fas fa-star dailyLogIn"></i>
            <h3>Daily Log In's</h3>
            <p class="badgeInfo">This user has been online for the past 7 days.</p>
        </div>
        <div class="badge badge2">
            <i class="fas fa-star popularUser"></i>
            <p class="notEarned" id="badge2">not earned</p>
            <h3>Popular User</h3>
            <p class="badgeInfo">This user has talked to 3+ user last month</p>
        </div>
    </div>
</div>
<div class="row1">
    <div class="badge badge3">
        <i class="fas fa-star fastReplies"></i>
        <p class="notEarned" id="badge3">not earned</p>
        <h3>Fast Replies</h3>
        <p class="badgeInfo">This user replied within 1 hour last week.</p>
    </div>
    <div class="badge badge4">
        <i class="fas fa-star ogUser"></i>
        <p class="notEarned" id="badge4">not earned</p>
        <h3>OG user</h3>
        <p class="badgeInfo">This user has been a member for 1+ years</p>
    </div>
</div>
</div>
