<div class="container-fluid p-0">
    <div class="row">
        <div class="col-4">
        <div class="pinnedList"></div>
        <div class="chatList"></div>
        </div>
        <div class="chatwindow col-8">
            <div class="username"></div>
            <div class="history">
            </div>
            <div class="row">
                <div>
            <div class="row ">
                <input id="msginput" placeholder="Type a message"/>
                <button id="msgsend">Send</button>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
