<div class="container-fluid p-0">
    <div class="row">
        <div class="chatList col-4">
            <div class="previewChat">
                <div class="row">
                    <div class="profilePicture"></div>
                    <div>
                        <div class="userName">Pieter</div>
                        <div class="lastMessage">hoi</div>
                        <div class="timeStamp">gisteren</div>
                    </div>
                </div>
            </div>
            <div class="previewChat">
                <div class="row">
                    <div class="profilePicture"></div>
                    <div>
                        <div class="userName">Pieter</div>
                        <div class="lastMessage">hoi</div>
                        <div class="timeStamp">gisteren</div>
                    </div>
                </div>
            </div>
            <div class="previewChat">
                <div class="row">
                    <div class="profilePicture"></div>
                    <div>
                        <div class="userName">Pieter</div>
                        <div class="lastMessage">hoi</div>
                        <div class="timeStamp">gisteren</div>
                    </div>
                </div>
            </div>
            <div class="previewChat">
                <div class="row">
                    <div class="profilePicture"></div>
                    <div>
                        <div class="userName">Pieter</div>
                        <div class="lastMessage">hoi</div>
                        <div class="timeStamp">gisteren</div>

                    </div>
                </div>
            </div>
            <div class="previewChat">
                <div class="row">
                    <div class="profilePicture"></div>
                    <div>
                        <div class="userName">Pieter</div>
                        <div class="lastMessage">hoi</div>
                        <div class="timeStamp">gisteren</div>

                    </div>
                </div>
            </div>
            <div class="previewChat">
                <div class="row">
                    <div class="profilePicture"></div>
                    <div>
                        <div class="userName">Pieter</div>
                        <div class="lastMessage">hoi</div>
                        <div class="timeStamp">gisteren</div>

                    </div>
                </div>
            </div>
            <div class="previewChat">
                <div class="row">
                    <div class="profilePicture"></div>
                    <div>
                        <div class="userName">Pieter</div>
                        <div class="lastMessage">hoi</div>
                        <div class="timeStamp">gisteren</div>

                    </div>
                </div>
            </div>
            <div class="previewChat">
                <div class="row">
                    <div class="profilePicture"></div>
                    <div>
                        <div class="userName">Pieter</div>
                        <div class="lastMessage">hoi</div>
                        <div class="timeStamp">gisteren</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="chat col-8">

            <div class="history">

            </div>

            <div class="row ">
                <input id="msginput" placeholder="Type a message"/>
                <button id="msgsend">Send</button>
            </div>
        </div>
    </div>
</div>