<div class="d-flex mahp100 grow">
  <div class="col-4 p-0">
    <input type="text" class="form-control searchbox" placeholder="Search User" />
    <div class="searchTitle chats"> Chats</div>
    <div class="pinnedList"></div>
    <div class="chatList"></div>
    <div class="searchTitle messages"> Messages</div>
  </div>
  <div class="chatwindow col-8 p-2 grow">
    <div class="d-flex justify-content-between">
      <div class="dropdown">
        <div class="username" class="col">
        </div>
        <div class="dropdown-content">
          <button class="blockUser">block user 🚫</button>
          <button class="searchMessage">search message</button>
          <button class="likedMsg">likes</button>
          <button id="openFileFolder">files</button>
        </div>
      </div>
      <div class=" flex-grow searchMessageContainer">
        <input type="text" class="input searchbox1 border chatFilter" placeholder="Search Message" />
        <button id="buttonUp" class="">
          <i class="fa fa-arrow-up"></i>
        </button>
        <button id="buttonDown" class="">
          <i class="fa fa-arrow-down"></i>
        </button>
      </div>

    </div>

    <div class="history"></div>
    <div id="fileFolder" class="border" style="display: none;">
      <h3><span id="fileCounter"></span> Files</h3>
      <div class="files">

      </div>
    </div>
    <div class="typing"></div>

    <div class="d-flex">
      <button id="uploadButton" class="">
        <i class="fas fa-plus"></i>
      </button>
      <textarea id="msginput" class="grow" placeholder="Type a message"></textarea>
      <div class="blockedUserMessage">you have blocked this user.
        <button>unblock</button>
      </div>
      <button id="msgsend" class="">Send</button>
    </div>
    <div id="upzone"></div>
  </div>
  <div id="likesModal">
    <div id="likesContent">
      <div id="likesHeader">
        <span id="likesClose">X</span>
        <p>Liked messages: </p>

      </div>
      <div id="likesBody"></div>
    </div>
  </div>

</div>

<input type="file" id="upfile" class="d-none" multiple />