<nav class="navbar navbar-expand-lg navbar-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#" data-controller="posts"><img
                src="assets/img/posts/studentDesignLogo.png" width="50%" height="50%"
                alt="Student Design"></a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item hideWhenLoggedIn">
                    <a class="nav-link " data-controller="register" href="#">Register</a>
                </li>
                <li class="nav-item hideWhenLoggedIn">
                    <a class="nav-link " data-controller="login" href="#">Login</a>
                </li>
                <li class="nav-item hideWhenLoggedOut">
                    <a class="nav-link " data-controller="logout" href="#">Logout</a>
                </li>
                <li class="nav-item  hideWhenLoggedOut">
                    <a class="nav-link" data-controller="chat" href="#">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-controller="posts" href="#">Posts</a>
                </li>
                <li class="nav-item hideWhenLoggedOut">
                    <a class="nav-link" data-controller="profile" href="#" id="profile">Profile</a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>
