<div class="row justify-content-md-center">
    <div class="col-sm-4 m-3">
        <h2 id="postTitle">HOI</h2>
        <div id="postPhoto"></div>
        <p id="postDescription">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolores exercitationem magni, modi odio quae. Aliquid autem cumque explicabo fugit id laudantium officiis, possimus quia quis repellat tempora voluptas voluptate!</p>
        <button type="button" class="btn btn-primary" id="chatButton">Begin a chat with this designer</button>
    </div>
</div>